<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous|Boogaloo" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Mass Subs</title>
</head>

<body style="font-family: 'Boogaloo', cursive !important;">
    <div class="container-fluid px-0">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mx-0 ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mx-2" id="navbarToggler">
                <a class="navbar-brand" href="#" style="font-family: 'Righteous';">Mass Subtitles</a>

                <form class="form-inline my-3 my-lg-0 mr-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Enter a Movie Name or..">
                    <select class="form-control mr-sm-2" name="genre">
                        <option value="all" selected disabled hidden>Search by genre.</option>
                        <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option>
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button class="btn btn-primary my-2 my-sm-0 mx-2 float-right">Upload Subtitles</button>

            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid m-4">
            <h1 class="display-4 text-center">The most visited place for Movie Subtitles!!</h1>
        </div>
        <div class="jumbotron jumbotron-fluid mx-4">
            <h2 class="text-center">Newest Movies</h2>
            <div class="card-deck m-4 text-center">
                <% for(var i=0; i < movies.length; i++) { %>
                    <div class="card">
                        <img class="card-img-top" src="images/150x200" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= movies[i].title %>
                            </h4>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= movies[i].release_date.toDateString() %>
                                </small>
                            </p>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

    </div>


    <!-- BootStrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>