<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous|Boogaloo" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Mass Subs</title>
</head>

<body style="font-family: 'Boogaloo', cursive !important;">
    <div class="container-fluid px-0">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mx-0 ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mx-2" id="navbarToggler">
                <a class="navbar-brand" href="#" style="font-family: 'Righteous';">Mass Subtitles</a>

                <form class="form-inline my-3 my-lg-0 mr-auto">
                    <input class="form-control mr-sm-4" type="search" placeholder="Enter a Movie Name or leave it empty to search by genre">
                    <select class="form-control mr-sm-2" name="genre">
                        <option value="all" selected disabled hidden>Search by genre.</option>
                        <% for(var i=0; i<genres.length; i++){%>
                            <option value="<%=genres[i].gname%>">
                                <%=genres[i].gname%>
                            </option>
                            <%}%>
                                <!-- <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option>
                        <option value="1">Lorem Ipsum</option> -->
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <% if(user!=null) {%>
                    <button class="btn btn-primary my-2 my-sm-0 mx-2 float-right">
                        <%=user.name%>
                    </button>
                    <a href="/logout" class="btn btn-danger float-right">Logout</a>
                    <%} else {%>
                        <a href="/auth/google" class="btn btn-primary my-2 my-sm-0 mx-2 float-right" style="color:white;">
                            Sign in With Google
                        </a>
                        <%}%>

            </div>
        </nav>